---
import Buscador from '../components/Buscador.astro';
import Layout from '../layouts/Layout.astro';
import { getCharacters } from '../services/hp';
import Personaje from '../components/Personaje.astro';

---

<Layout>
	<Buscador />
	<section class="characters-list">
		<h2 class="text-2xl font-bold text-white mb-4">Personajes</h2>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
			{await getCharacters().then(characters => 
				characters.map(character => (
					<Personaje 
						name={character.name} 
						species={character.species} 
						gender={character.gender} 
						house={character.house}
						patronus={character.patronus}
						wizard={character.wizard}
						alternateNames={character.alternate_names}
						img={character.image}
					/>
				))
			)}
		</div>
	</section>
</Layout>
