---
import '/src/styles/global.css';
import { getCharacterByName } from '../services/hp';
import Personaje from './Personaje.astro';

const url = new URL(Astro.request.url);
const name = url.searchParams.get('name') ?? '';
const character = name ? await getCharacterByName({ name }) : null;
---

<a href="/" class="text-white text-2xl font-bold mb-4">Home</a>
<div class="buscador m-auto w-fit px-28 py-4 bg-amber-50">
  <form action="" method="get" class="flex flex-col gap-3 items-center">
    <input type="text" id="name" name="name" placeholder="Buscar" class="buscador-input w-40 border" autocomplete="off"/>
    <button type="submit" class="buscador-button border">Buscar</button>
  </form>
</div>
  {
    character ? (
      <Personaje 
        name = {character.name} 
        species = {character.species} 
        gender = {character.gender} 
        house = {character.house}
        alternateNames = {character.alternate_names}
        wizard = {character.wizard}
        patronus = {character.patronus}
        wand = {[character.wand.wood, [character.wand.core], character.wand.length]}
        img = {character.image}
      />
    ) : name ? (
      <p class="text-white">Personaje no encontrado</p>
    ) : null
  }
